.footer {
  display: flex;
  justify-content: space-around;
  /* width: 1270px; */
  line-height: 40px;
  background-color: #ebebeb;
  padding: 100px;
  text-align: left;
  font-family: "Lato";
  color: #666666;
}
.heading {
  font-weight: bold;
  padding-bottom: 20px;
  padding-right: 20px;
  color: #525252;
}
.full_logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  text-align: left;
}
.logo_only {
  height: 50px;
  width: 50px;
  position: relative;
}
.column_1 {
  text-align: center;
}
.column_5 {
  min-width: 250px;
}
