body {
  /* overflow-x: hidden; */
}
.homepage_1_grey {
  width: 60%;
  height: 840px;
  background: #eeeeee;
  position: relative;
  margin-top: -200px;
  left: 0px;
}
.logo {
  position: absolute;
  left: 10px;
  width: 320px;
}
a {
  text-decoration: none;
}
a.register_a {
  text-decoration: none;
}
.homepage_1_grey_title {
  position: relative;
  width: 55%;
  height: 34px;
  margin-left: 20%;
  margin-top: 200px;
  padding-top: 200px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  /* line-height: 105%; */
  /* identical to box height, or 34px */
  display: flex;
  align-items: center;
  color: #525252;
}
.homepage_1_grey_date {
  position: relative;
  width: 50%;
  margin-left: 20%;
  margin-top: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 105%;
  /* or 25px */

  display: flex;
  align-items: center;

  color: #525252;
}
.homepage_1_grey_text {
  position: relative;
  width: 60%;
  margin-top: 40px;
  margin-left: 20%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 170%;

  text-align: justify;

  color: #666666;
}
.homepage_1_image {
  position: absolute;
  width: 90%;

  left: 79%;
  top: 118px;
}
.homepage_1_button {
  position: relative;
  width: 72px;
  margin-top: 60px;
  margin-left: 20%;
}
.homepage_2 {
  margin-top: 200px;
}
.homepage_2_title {
  position: relative;
  margin-left: 12%;
}
.homepage_2_text1 {
  position: relative;
  margin: 50px 12%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 170%;
  /* or 41px */

  text-align: justify;

  color: #666666;
}
.homepage_2_text2 {
  position: relative;
  margin: 50px 12%;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 170%;
  /* or 41px */

  text-align: justify;

  color: #666666;
}
.homepage_2_button {
  position: absolute;
  width: 165px;
  height: 60px;
  left: 200px;
  top: 1700px;
}
.homepage_3_title {
  position: relative;
  margin: 200px 12%;
}
/* .homepage_3_textbox {
  position: relative;

  width: 940px;
  height: 590px;
  
  padding-bottom: 20px;
  margin: 50px 12%;
  background: #eeeeee;
} */
/* .homepage_3_text_title {
  position: relative;
  width: 505px;
  height: 48px;
  left: 110px;


  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150.5%;

  color: rgba(70, 70, 70, 0.8);
} */
/* .homepage_3_text {
  position: relative;
  width: 598px;
  height: 205px;
  left: 118px;
  top: 205px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 170%;

  text-align: justify;

  color: #666666;
}
.homepage_3_button {
  position: absolute;
  width: 165px;
  height: 60px;
  left: 120px;
  top: 450px;
}
.homepage_3_button2 {
  position: absolute;
  left: 350px;
  top: 449px;
  border: 1px solid #525252;
  box-sizing: border-box;
} */
/* .homepage_3_image {
  position: absolute;
  width: 410px;
  height: 412px;
  left: 950px;
  top: 2150px;
  mix-blend-mode: normal;
} */
.homepage_4_title {
  position: relative;
  margin: 200px 12%;
}
.semicolon1 {
  position: absolute;
  width: 64px;
  height: 151px;
  left: 50%;
  margin-top: -110px;

  /* background: rgba(204, 204, 204, 0.4); */
}
.semicolon2 {
  position: absolute;
  width: 64px;
  height: 151px;
  left: 54%;
  margin-top: -110px;
}
.homepage_4_text1 {
  position: absolute;
  width: 590px;
  height: 270px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 170%;
  /* or 54px */
  left: 51%;
  margin-top: -30px;
  text-align: justify;

  color: #666666;
}
.homepage_4_speaker1 {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 277px;
  left: 51%;
  border-radius: 200px;
}
.homepage_4_speaker1_details {
  position: absolute;
  width: 388px;
  height: 69px;
  margin-top: 277px;
  left: 57%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 180%;
  /* or 36px */
  text-align: justify;
  color: #525252;
}
.semicolon3 {
  position: absolute;
  width: 74px;
  height: 161px;
  left: 160px;
  margin-top: 120px;
}
.semicolon4 {
  position: absolute;
  width: 75px;
  height: 161px;
  left: 230px;
  margin-top: 120px;
}
.homepage_4_text2 {
  position: absolute;
  width: 550px;
  height: 162px;
  left: 180px;
  margin-top: 200px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 170%;
  /* or 54px */

  text-align: justify;

  color: #666666;
}
.homepage_4 {
  position:relative;
  height: 800px;
}
.homepage_4_speaker2 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 180px;
  border-radius: 200px;
  margin-top: 400px;
}
.homepage_4_speaker2_details {
  position: absolute;
  width: 419px;
  height: 68px;
  left: 280px;
  margin-top: 400px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 170%;
  /* or 34px */

  text-align: justify;

  color: #525252;
}
.homepage_5_title {
  position: relative;
  left: 200px;
 
}
.homepage_5_text {
  position: relative;
  width: 50vw;
  height: 533px;
  left: 200px;
  margin-top:131px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 170%;
  /* or 41px */
  
  text-align: justify;

  color: #666666;
}
.homepage_5_image {
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: 60px;
}
.homepage_5_hodDetails{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 69vw;
  margin-top:-500px;
}
.hod_details {
  position: relative;
  width: 375px;
  height: 93px;
  
  font-family: Lato;
  font-size: 18px;
  line-height: 170%;
  /* or 31px */
  text-align: center;
  /* color: #525232; */
}
.faculty-coordinators {
  position: relative;
  left: 200px;
  width: 83%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.faculty-photo {
  height: 250px;
}
.faculty-about {
  font-family: Lato;
  font-style: normal;
  /* font-weight: 800; */
  font-size: 18px;
  line-height: 170%;
  /* or 31px */
  margin-left: 20px;

  text-align: center;
}
.prevslide {
  position: absolute;
  top: 1980px;
  left: 110px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px;
  background-color: #ccc7c7;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}
.prevslide_arrow {
  width: 10px;
  height: 10px;
  /* margin-top: 4px; */
  /* margin-left: 10px; */
  border: solid #525252;
  border-width: 0px 3px 3px 0px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.nextslide {
  position: absolute;
  top: 1978px;
  left: 94%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px;
  background-color: #ccc7c7;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}
.nextslide_arrow {
  width: 10px;
  height: 10px;
  /* margin-top: 4px; */
  /* margin-left: 10px; */
  border: solid #525252;
  border-width: 0px 3px 3px 0px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.homepage_6_title {
  position: relative;
  left: 200px;
  margin-top: 313px;
}
.spons_div {
  position: relative;
  left: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 200px;
  justify-content: space-around;
}
.spons_image {
  margin-left: 100px;
  margin-top: 60px;
}
.homepage_7 {
  position: relative;
  
}
