.navbar-container {
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 1px 0px 10px 1px #aaa;
  z-index: 2;
  position: fixed;
  width: 100vw;
  background-color: white;
}
a {
  cursor: pointer;
}
.navbar_details {
  display: flex;
  font-size: 16px;
  font-family: Lato;
  line-height: 105%;
  color: #525252;
  left: 300px;
  margin: 0 2rem 0 50%;
  padding: 0 0%;
  width: 600px;
  align-items: center;
  justify-content: space-evenly;
  
}
a{
  /* text-decoration: none; */
  color: #525252;
}
.navbar-logo {
  margin-left: 40px;
}
