.events {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.homepage_3_title {
  position: relative;
  height: 53px;
}
.homepage_3_textbox {
  height: 590px;
  padding: 168px 0px 100px 122px;
}
.homepage_3_greybox {
  position: relative;
  width: 50%;
  height:700px;
  /* height: 590px; */
  margin: -114px 200px;
  background: #eeeeee;
}
.homepage_3_text_title {
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150.5%;
  /* padding-top: 168px;
  margin-left: 122px; */
  /* or 48px */

  color: rgba(70, 70, 70, 0.8);
}
.homepage_3_text {
  margin-top: 40px;
  position: relative;
  width: 75%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 170%;
  /* or 41px */

  text-align: justify;

  color: #666666;
}
.homepage_3_button {
  position: relative;
  left: 120px;
  top: 450px;
}
.homepage_3_button2 {
  position: relative;
  border: 1px solid #525252;
  box-sizing: border-box;
}
.homepage_3_image {
  position: absolute;
  width: 35vw;
  margin-top: -500px ;
  margin-left: 55%;
  mix-blend-mode: normal;
}
