.button_arrow {
  width: 8px;
  height: 8px;
  margin-top: 4px;
  margin-left: 10px;
  border: solid #ffffff;
  border-width: 0px 3px 3px 0px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.button {
  width: 165px;
  height: 52px;
  background-color: #27b660;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* identical to box height, or 0px */
  color: #ffffff;
}
